<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gionee.nfcPay.dao.mapper.NfcUnionCardProductInfoTbMapper" >
  <resultMap id="BaseResultMap" type="com.gionee.nfcPay.vo.models.NfcUnionCardProductInfoTb" >
    <id column="cardProductId" property="cardProductId" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="issuerId" property="issuerId" jdbcType="VARCHAR" />
    <result column="cardArt" property="cardArt" jdbcType="VARCHAR" />
    <result column="displayName" property="displayName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="frontColor" property="frontColor" jdbcType="VARCHAR" />
    <result column="create_date" property="create_date" jdbcType="DATE" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="last_upd_time" property="last_upd_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    cardProductId, version, issuerId, cardArt, displayName, type, frontColor, create_date, 
    create_time, last_upd_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from nfc_union_card_product_info_tb
    where cardProductId = #{cardProductId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from nfc_union_card_product_info_tb
    where cardProductId = #{cardProductId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gionee.nfcPay.vo.models.NfcUnionCardProductInfoTb" >
    insert into nfc_union_card_product_info_tb (cardProductId, version, issuerId, 
      cardArt, displayName, type, 
      frontColor, create_date, create_time, 
      last_upd_time)
    values (#{cardProductId,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{issuerId,jdbcType=VARCHAR}, 
      #{cardArt,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{frontColor,jdbcType=VARCHAR}, #{create_date,jdbcType=DATE}, #{create_time,jdbcType=TIMESTAMP}, 
      #{last_upd_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gionee.nfcPay.vo.models.NfcUnionCardProductInfoTb" >
    insert into nfc_union_card_product_info_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardProductId != null" >
        cardProductId,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="issuerId != null" >
        issuerId,
      </if>
      <if test="cardArt != null" >
        cardArt,
      </if>
      <if test="displayName != null" >
        displayName,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="frontColor != null" >
        frontColor,
      </if>
      <if test="create_date != null" >
        create_date,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="last_upd_time != null" >
        last_upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardProductId != null" >
        #{cardProductId,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="issuerId != null" >
        #{issuerId,jdbcType=VARCHAR},
      </if>
      <if test="cardArt != null" >
        #{cardArt,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="frontColor != null" >
        #{frontColor,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null" >
        #{create_date,jdbcType=DATE},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_upd_time != null" >
        #{last_upd_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gionee.nfcPay.vo.models.NfcUnionCardProductInfoTb" >
    update nfc_union_card_product_info_tb
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="issuerId != null" >
        issuerId = #{issuerId,jdbcType=VARCHAR},
      </if>
      <if test="cardArt != null" >
        cardArt = #{cardArt,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        displayName = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="frontColor != null" >
        frontColor = #{frontColor,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null" >
        create_date = #{create_date,jdbcType=DATE},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_upd_time != null" >
        last_upd_time = #{last_upd_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cardProductId = #{cardProductId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gionee.nfcPay.vo.models.NfcUnionCardProductInfoTb" >
    update nfc_union_card_product_info_tb
    set version = #{version,jdbcType=VARCHAR},
      issuerId = #{issuerId,jdbcType=VARCHAR},
      cardArt = #{cardArt,jdbcType=VARCHAR},
      displayName = #{displayName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      frontColor = #{frontColor,jdbcType=VARCHAR},
      create_date = #{create_date,jdbcType=DATE},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      last_upd_time = #{last_upd_time,jdbcType=TIMESTAMP}
    where cardProductId = #{cardProductId,jdbcType=VARCHAR}
  </update>
</mapper>